
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p>Bild</p>
        </div>
        <div class="col-md-9">
            <form>
                <div>
                    <input type="text" placeholder="Anrede"><input type="text" placeholder="Vorname"><input type="text" placeholder="Nachname">
                </div>
                <div>
                    <input type="text" placeholder="Beruf">
                </div>
                <div>
                    <input type="text" placeholder="Standort">
                </div>
            </form>
        </div>
    </div>
    
    
</div>

<div>Vorname: {{profile?.vorname}}</div>
<div>Nachname: {{profile?.nachname}}</div>
